<p id="notice"><%= notice %></p>

<h1>Booking_Details</h1>

<table>
  <thead>
    <tr>
      <th>Date From</th>
      <th>Date To</th>
      <th>Rent Per Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_details.each do |booking_details| %>
      <tr>
        <td><%= booking_details.date_from %></td>
        <td><%= booking_details.date_to %></td>
        <td><%= booking_details.rent_per_day %></td>
        <td><%= link_to 'Show', booking_details %></td>
        <td><%= link_to 'Edit', edit_booking_detail_path(booking_details) %></td>
        <td><%= link_to 'Destroy', booking_details, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_detail_path %>
