<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <strong>Reg no:</strong>
  <%= @vehicle.reg_no %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @vehicle.availability %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
